body{
background: url(../img/profile-min.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;
font-family: sans-serif;
}
.image-container {
position: relative;
}

.image {
opacity: 1;
display: block;
width: 100%;
height: auto;
transition: .5s ease;
backface-visibility: hidden;
}

.middle {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 70%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}

.image-container:hover .image {
opacity: 0.3;
}

.image-container:hover .middle {
opacity: 1;
}

.card-body{
  
}

.profilebox{
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	top: 60%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding-right: 30px;
	padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}

.card-body{

}