{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}
{% block header %}

    <link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}">
{% endblock %}

{% block content %}
{% if error %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="text-center">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Oops:
                        <small>Something went wrong</small>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>Please check your data</p>
                        <ul class="errors" >
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                
                            {% endif %}
                        {% endfor %}
                        </ul>
                            <!-- <ul class="list-group">
                            <li class="list-group-item">Make sure that the Web site address displayed in the address bar of your browser is spelled and formatted correctly.</li>
                            <li class="list-group-item">If you reached this page by clicking a link,
                                <a href="#"><b>contact us</b></a> to alert us that the link is incorrectly formatted.</li>
                                <li class="list-group-item">Forget that this ever happened, and go <a href="/">our <b>Home</b> page</a> :)</li>
                            </ul> -->
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% from "_formhelpers.html" import render_field %}

<div class="profilebox">
    <form id="editProfile" method="POST" action="/editprofile">
        <br/>
        <h1 align="center">Edit Profile</h1>
    <br/>
    <br/>
    <div class="form-row">
    <div class="form-group col-md-6">
        <div class="inputbox">
        {{ render_field(form.firstname,class="form-control",placeholder=data.firstname) }}
        </div>
    </div>
    <div class="form-group col-md-6">
        <div class="inputbox">
        {{ render_field(form.lastname,class="form-control",placeholder=data.lastname) }}
        </div>
    </div>
    </div>
    <div class="form-group">
        <div class="inputbox">
        {{ render_field(form.username,class="form-control",placeholder=data.username) }}
        </div>
    </div>
    <div class="form-group">
        <div class="inputbox">
        <label for="gender">Gender</label>
        <p><select id="gender" name="gender"  class="form-control">
        <!--option value="" disabled selected hidden>Gender</option-->
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        </select></p>
        </div>
    </div>
    <div class="form-group">
        <div class="inputbox">
        {{ render_field(form.email,class="form-control",placeholder=data.email) }}
        </div>
    </div>
    <div class="form-group">
        <div class="inputbox">
        {{ render_field(form.contact_number,class="form-control",placeholder=data.contact_number) }}
        </div>
    </div>
    <button style="float:right" type="submit" class="btn btn-primary">Save</button>
    </form>
    <br/>
</div>
    <br/>
    <br/>

{% endblock %}

{% block footer %}

{% endblock %}