
{% from '_formhelpers.html' import search_field %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark text-dark">

{% if 'user' not in session %}
    
  <a class="navbar-brand" href="/home">FoodHUB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
    <!-- ========================== SEARCH ======================== -->
    <form method="POST" class="form-inline my-2 my-lg-0" action="{{ url_for('search') }}">
      {{ searchForm.csrf_token }}
      <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
      <div aria-label="Search" type="text" placeholder="Search" >
        {{ search_field(searchForm.resto, placeholder="Search for Restaurants", class="form-control mr-sm-2") }}
      </div>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <!-- ========================== SEARCH ======================== -->
    </ul>
   
            <a class="nav-link" href="/register" >Register <span class="sr-only">(current)</span></a>

            <a class="nav-link" href="/login" >Login <span class="sr-only">(current)</span></a>

    
{% else %}
      <a ><span style="color:white; font-size: 25px; cursor:pointer"  onclick="openNav()">&#9776;</span>
      </a>
      
  <a class="navbar-brand" href="/home">FoodHUB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
    <!-- ========================== SEARCH ======================== -->
    <form method="POST" class="form-inline my-2 my-lg-0" action="{{ url_for('search') }}">
      {{ searchForm.csrf_token }}
      <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
      <div aria-label="Search" type="text" placeholder="Search" >
        {{ search_field(searchForm.resto, placeholder="Search for Restaurants", class="form-control mr-sm-2") }}
      </div>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <!-- ========================== SEARCH ======================== -->
    </ul>

    
  <div id="mySidenav" class="sidenav">
  <!--user image-->
    <img width="128" height="128" style="border-radius: 50%;  display: block; margin-left: auto; margin-right: auto;" src="static/img/customer.png" " alt="profile">


  <!--name and usernmae-->
	  <div class="profile-usertitle">
		  <div align="center" style="font-size: 20px; color: white;" class="profile-usertitle-name">
			  {{ user.lastname }}, {{ user.firstname }}
		  </div>
		  <div align="center" style="font-size: 18px; color:blue; " class="username">
			  {{ user.username }}
		  </div>
    </div>
  <br/>
  <br/>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a style="font-size: 18px;"href="/editowner"><span style="font-size: 14px;" class="fa fa-cogs text-warning display-icon"></span>  Account Settings </a>
  <br/>
  <div class="btn-group">
    <a style="font-size: 18px;"href="#"><span style="font-size: 18px;" class="	fa fa-check text-warning display-icon"></span>  Restaurant  </a>
    <button style=" left: 35%; type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span style="font-size: 30px;" class="sr-only">Toggle Dropdown</span>
    </button>

    <div style="background-color: black;" class="dropdown-menu">
      {% for item in items %}
      <a style="font-size: 16px; background-color: black;" class="dropdown-item" href="/restaurant/{{ item.restaurant_name }}">{{ item.restaurant_name }}</a>
      {% endfor %}
      <a style="font-size: 16px; background-color: black;" class="dropdown-item" href="#!">Add Restaurant
      </a>
    </div>

  </div>
  <br/>
  <br/>

  <div class="btn-group">
    <a style="font-size: 18px;"href="/editrestaurant"><span style="font-size: 14px;" class="fa fa-wrench text-warning display-icon"></span>  Restaurant Settings </a>
    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span style="font-size: 30px;" class="sr-only">Toggle Dropdown</span>
    </button>

    <div style="background-color: black;" class="dropdown-menu">
      {% for item in items %}
      <a style="font-size: 16px; background-color: black;" class="dropdown-item" href="#!">{{item.restaurant_name}}</a>
      {% endfor %}
    </div>
  </div>
  <br/>
  <br/>
	<a style="font-size: 18px;"href="#"><span style="font-size: 14px;" class="	fa fa-book text-warning display-icon"></span>  Reservations </a>
  <br/>
	<a style="font-size: 18px;"href="/logout"><span style="font-size: 14px;" class="	fa fa-minus text-warning display-icon"></span>  Logout </a>

</div>


    {% endif %}
</nav>

