{% extends 'base.html' %}
{% block header %}

   <link rel="stylesheet" type="text/css" href="\static\css\reg.css">
{% endblock %}
{% block content %}
    {% include '_navbar.html' %}
    {% if error %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3" style="">
                <div style="width:520px;" class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 style="font-weight: bold;" class="text-center">
                        <span style="font-weight: bold;" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Oops:
                        <small style="font-weight: bold;">Something went wrong</small>
                        </h3>
                    </div>
                    <div class="panel-body"> 
                        <p style="color: black; font-size: 1em;" align="center">Please check the Data you entered below</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

<div class="container">
<br/>
<br/>	
	<div class="row">
		
<div class="col-md-6 col-md-offset-3" id="login">  

<form id="regForm" method="POST" action="/registration/customer">
 <input type="hidden" name="type" value="customer">

<h1 style="color:black;" align="center" class="fs-title">Personal Details</h1>
<br/>	
<div class="form-group">
        {% if form.firstname.errors %}
            <div>{{ form.firstname.label (class="user") }}<br/> {{ form.firstname (class="form-control input-sm form-control-lg is-invalid")(placeholder="First Name") }}</div> 
            <ul class="errors">{% for error in form.firstname.errors %}<p style="color: #b30000; font-size: 1em;">{{ error }}</p>{% endfor %}</ul>
        {% else %}
            <div>{{ form.firstname.label (class="user") }}<br/> {{ form.firstname (class="form-control input-sm") }}</div>
        {% endif %}
</div>
	
<div class="form-group">
        {% if form.lastname.errors %}
            <div>{{ form.lastname.label (class="user") }}<br/> {{ form.lastname (class="form-control input-sm form-control-lg is-invalid") }}</div> 
            <ul class="errors">{% for error in form.lastname.errors %}<p style="color: #b30000; font-size: 1em;">{{ error }}</p>{% endfor %}</ul>
        {% else %}
            <div>{{ form.lastname.label (class="user") }}<br/> {{ form.lastname (class="form-control input-sm") }}</div>
        {% endif %}
</div>

<div class="form-group">
        {% if form.username.errors %}
            <div>{{ form.username.label (class="user") }}<br/> {{ form.username (class="form-control input-sm form-control-lg is-invalid") }}</div> 
            <ul class="errors">{% for error in form.username.errors %}<p style="color: #b30000; font-size: 1em;">{{ error }}</p>{% endfor %}</ul>
        {% else %}
            <div>{{ form.username.label (class="user") }}<br/> {{ form.username (class="form-control input-sm") }}</div>
        {% endif %}
</div>

<div class="form-group">
        {% if form.email.errors %}
            <div>{{ form.email.label (class="user") }}<br/> {{ form.email (class="form-control input-sm form-control-lg is-invalid") }}</div> 
            <ul class="errors">{% for error in form.email.errors %}<p style="color: #b30000; font-size: 1em;">{{ error }}</p>{% endfor %}</ul>
        {% else %}
            <div>{{ form.email.label (class="user") }}<br/> {{ form.email (class="form-control input-sm") }}</div>
        {% endif %}
</div>

<div class="form-group">
        {% if form.contact_number.errors %}
            <div>{{ form.contact_number.label (class="user") }}<br/> {{ form.contact_number (class="form-control input-sm form-control-lg is-invalid") }}</div> 
            <ul class="errors">{% for error in form.contact_number.errors %}<p style="color: #b30000; font-size: 1em;">{{ error }}</p>{% endfor %}</ul>
        {% else %}
            <div>{{ form.contact_number.label (class="user") }}<br/> {{ form.contact_number (class="form-control input-sm") }}</div>
        {% endif %}
</div>

<div class="form-group">
        {% if form.password.errors %}
            <div>{{ form.password.label (class="user") }}<br/> {{ form.password (class="form-control input-sm form-control-lg is-invalid") }}</div> 
            <ul class="errors">{% for error in form.password.errors %}<p style="color: #b30000; font-size: 1em;">{{ error }}</p>{% endfor %}</ul>
        {% else %}
            <div>{{ form.password.label (class="user") }}<br/> {{ form.password (class="form-control input-sm") }}</div>
        {% endif %}
</div>

<div class="form-group">
        {% if form.cpassword.errors %}
            <div>{{ form.cpassword.label (class="user") }}<br/> {{ form.cpassword (class="form-control input-sm form-control-lg is-invalid") }}</div> 
            <ul class="errors">{% for error in form.cpassword.errors %}<p style="color: #b30000; font-size: 1em;">{{ error }}</p>{% endfor %}</ul>
        {% else %}
            <div>{{ form.cpassword.label (class="user") }}<br/> {{ form.cpassword (class="form-control input-sm") }}</div>
        {% endif %}
</div>

<div class="form-group">
    <div>{{ form.gender.label (class="user") }}<br/> {{ form.gender(class="radio") }}</div>
        {% if form.gender.errors %}
            <ul class="errors">{% for error in form.gender.errors %}<p style="color: #b30000; font-size: 1em;">{{ error }}</p>{% endfor %}</ul>
        {% endif %}
</div>




<div class="form-group">

<input type="submit" class="btn btn-success" value="Submit" style="font-size: 25px; border-radius: 4px;">

    </div>
    <br/><br/><br/>
    <a  style="color: #cccccc; font-size: 12px; float: left; margin-left: 10px;"> Already have an account? </a>
    <a href="/loginq    " style="color: #e6e6e6; font-size: 12px; float: left; margin-left: 10px; font-weight: bold; "> Login </a>


</form>

<br/>
<br/>
  </div>
	</div>
{% endblock %}