{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}
{% block header %}
<link rel="stylesheet" href="{{url_for('static',filename='css/registration.css')}}">

{% endblock %}

{% block content %}
<div class="row">
    <div class="container">
        <div class="stepwizard">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                    <p>Step 1</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                    <p>Step 2</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                    <p>Step 3</p>
                </div>
            </div>
        </div>
        <form role="form" method="POST" action="{{url_for('register_blueprint.registration')}}">
            <div class="row setup-content" id="step-1">
                <div class="col-xs-12">
                    <div class="col-md-12">
                        <h3> Step 1</h3>
                        <h5>Tell us about more yourself</h5>
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <input maxlength="100" type="text" name="firstname" required class="form-control"
                                placeholder="Enter First Name" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Last Name</label>
                            <input maxlength="100" type="text" name="lastname" required class="form-control"
                                placeholder="Enter Last Name" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Gender</label>
                            <select class="form-control" name="gender" required>
                                <option value="" selected>Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Contact Number</label>
                            <input type="number" class="form-control"  id="contact_number" name="contact_number" required />
                            <span class="validity"></span></div>
                        <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
                    </div>
                </div>
            </div>
            <div class="row setup-content" id="step-2">
                <div class="col-xs-12">
                    <div class="col-md-12">
                        <h3> Step 2</h3>
                        <h5>Set up account</h5>
                        <div class="form-group">
                            <label class="control-label">Username</label>
                            <input maxlength="200" type="text" name="username" required class="form-control"
                                placeholder="Enter Username" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input maxlength="200" type="email" name="email" required class="form-control" placeholder="Enter Email" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Password</label>
                            <input maxlength="200" type="password" name="password" required class="form-control"
                                placeholder="Enter Password" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Confirm Password</label>
                            <input maxlength="200" type="password" name="cpassword" required class="form-control"
                                placeholder="Confirm Password" />
                        </div>
                        <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
                    </div>
                </div>
            </div>
            <div class="row setup-content" id="step-3">
                <div class="col-xs-12">
                    <div class="col-md-12">
                        <h3> Step 3</h3>
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="col-sm-6 col-md-6">
                                <input style="display:none" type="radio" id="type-customer" class="form-control" name="type"
                                    value="customer" required>

                                <div class="card" id="customer">
                                    <img class="card-img-top" src="{{url_for('static',filename='img/customer.png')}}">
                                    <div class="card-block" style="text-align:center">
                                        <h5 class="text-bold">Customer</h5>
                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6">
                                <input style="display:none" type="radio" id="type-owner" class="form-control" name="type"
                                    value="owner" required>

                                <div class="card" id="owner">
                                    <img class="card-img-top" src="{{url_for('static',filename='img/owner.png')}}">
                                    <div class="card-block" style="text-align:center">
                                        <h5 class="text-bold">Owner</h5>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row" style="text-align:center;">
                    <button class="btn btn-success btn-lg " type="submit">Finish!</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
<script src="{{url_for('static',filename='js/registration.js')}}"></script>

{% endblock %}