{% extends 'base.html' %}
{% block content %}
          <br/>
          <br/>
<div style="width: 800px; margin-left: auto; margin-right: auto;" class="jumbotron bg-dark text-white mb-0 radius-0">
    <div style="width: 800px;" class="container"> 
      <div class="row">
        <div style="list-style-type:none" class="col-md-6" >
        <a href="/registration/customer">
          <div style="width:300px; height:350px;" class="card">
            <img class="card-img-top" src="static/img/customer.png" alt="Card image cap" style="width:300px; height:250px;" >
              <div class="card-body">
                <h4 style="color:black;"align="center"  class="card-title">Customer</h4>
                <p style="color:black;" style=" "class="card-text"><i> </i></p>
              </div>
          </div
        </a>
          <br/>
          <br/>
        </div>
        <div style="list-style-type:none" class="col-md-6" >
        <a href="/registration/owner">
          <div style="width:300px; height:350px;" class="card">
            <img class="card-img-top" src="static/img/owner.png" alt="Card image cap" style="width:300px; height:250px;" >
              <div class="card-body">
                <h4 style="color:black;"align="center" class="card-title">Owner</h4>
                <p style="color:black;" style=" "class="card-text"><i> </i></p>
              </div>
          </div>
        </a>
        </div>
          <br/>
          <br/>
        </div>
      </div>
    </div>
</div>
{% endblock %}