{% extends 'baserestau.html' %}
{% block content %}
 {% include 'navbar.html' %}

<!-- ADD Menu -->
<div class="form-popup" id="myForm">
  <form action="/" class="form-container">
    <h1 style="color:white;" align="center">Add Item</h1>

      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile">
        <label  class="custom-file-label" for="customFile">Item Image</label>
      </div>
      
      <div  class="form-group">
        <label style="color:white;"  for="formGroupExampleInput2">Item Name:</label>
        <input type="text" name="StartDate"  class="form-control" id="formGroupExampleInput2" placeholder="Another input">
      </div>


      <div  class="form-group">
        <label style="color:white;"  for="formGroupExampleInput2">Item Price:</label>
        <input type="text" name="StartDate"  class="form-control" id="formGroupExampleInput2" placeholder="Another input">
      </div>   

    <button type="submit" class="btn">ADD</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>
  
<div class="jumbotron bg-wizardry bg-dark text-white mb-0 radius-0">
  <div style="height: 500px;"  class="container">

<!-- the restaurant name-->
      <h1 class="display-1 text-light">{{ data.restaurant_name }}
        <span class="fa fa-cutlery text-warning display-icon"></span>
      </h1>
<br/>
<br/>
<!-- bio-->
      <span class="lead">{{ data.bio }}</span>
<br/>
<br/>
<br/>
<br/>
<br/>
      <div class="mt-4">
        <button class="open-button" onclick="openForm()">Add Item</button>
			</div>
  </div>
</div>

</div>
{% endblock %}


