{% extends 'baserestau.html' %}
{% block content %}
 {% include 'navbarcus.html' %}
<!-- ADD Menu -->



<!-- Reservation-->

<div class="form-popup" id="myForm">
  <form action="/" class="form-container">
    <h1 style="color:white;" align="center">Reservation</h1>
      
      <div  class="form-group">
        <label style="color:white; width: 300px;"  for="formGroupExampleInput2">Date:</label>
        <input type="Date" name="StartDate"  class="form-control" id="formGroupExampleInput2" placeholder="Another input">
      </div>

      <div  class="form-group">
        <label style="color:white;"  for="formGroupExampleInput2">Time:</label>
        <input type="Time" name="StartDate"  class="form-control" id="formGroupExampleInput2" placeholder="Another input">
      </div>

      <div  class="form-group">
        <label style="color:white;"  for="formGroupExampleInput2">Pax</label>
        <input type="text" name="StartDate"  class="form-control" id="formGroupExampleInput2" placeholder="Another input">
      </div>   

    <button type="submit" class="btn">ADD</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>
  



<!--first part-->
  
<div  class="jumbotron bg-wizardry bg-dark text-white mb-0 radius-0">
  <div style="height: 500px;" class="container">
<!-- the restaurant name-->
      <h1 class="display-1 text-light">{{ data.restaurant_name }}
        <span class="fa fa-cutlery text-warning display-icon"></span>
      </h1>
<br/>
<br/>
<!-- bio-->
      <span "class="lead">{{ data.bio }}</span>
<br/>
<br/>
<br/>
<br/>
<br/>

      <div class="mt-4">
          <button class="open-button" onclick="openForm()">Reserve</button>
			</div>

  </div>
</div>
<!-- Ratings -->
<!-- <div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div> -->
<!-- Ratings -->

{% endblock %}


