{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}
{% block header %}

<link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}">
{% endblock %}

{% block content %}
</div>    
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card" style="width: 64rem;">

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Restaurant</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{ user.restaurant_name }}
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Restaurant Type</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{ user.restaurant_type }}
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Bio</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{ user.bio }}
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Location</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{ user.locations }}
                                        </div>
                                    </div>
                                    <hr />
                                    <!-- <a class="btn btn-outline-primary" type="button" href="/editprofile">Edit Profile</a> -->
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
            $imgSrc = $('#imgProfile').attr('src');
            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#imgProfile').attr('src', e.target.result);
                    };

                    reader.readAsuserURL(input.files[0]);
                }
            }
            $('#btnChangePicture').on('click', function () {
                // document.getElementById('profilePicture').click();
                if (!$('#btnChangePicture').hasClass('changing')) {
                    $('#profilePicture').click();
                }
                else {
                    // change
                }
            });
            $('#profilePicture').on('change', function () {
                readURL(this);
                $('#btnChangePicture').addClass('changing');
                $('#btnChangePicture').attr('value', 'Confirm');
                $('#btnDiscard').removeClass('d-none');
                // $('#imgProfile').attr('src', '');
            });
            $('#btnDiscard').on('click', function () {
                // if ($('#btnDiscard').hasClass('d-none')) {
                $('#btnChangePicture').removeClass('changing');
                $('#btnChangePicture').attr('value', 'Change');
                $('#btnDiscard').addClass('d-none');
                $('#imgProfile').attr('src', $imgSrc);
                $('#profilePicture').val('');
                // }
            });
        });
</script>
{% endblock %}

{% block footer %}

{% endblock %}